@import '~bootstrap/scss/bootstrap';

h1 {
  color: #f00;
  font-family: cursive;
  padding: 20px;
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px;
}

.center {
  align-items: center;
  text-align: center;
}

.game-square {
  border: 2px solid #0000ff;
  display: inline-block;
  height: 120px;
  margin: 1em;
  text-align: center;
  width: 120px;
}

.hide {
  display: none; // use none or visible
}

.my-account {
  font-size: .75em;
  text-align: right;
}

.outer-box {
  align-items: center;
  border-style: solid;
  border-width: 2px 4px;
}

.sign-in-button {
  border: 0;
  font-family: cursive;
  text-align: center;
}

.want-to-play {
  font-family: cursive;
  font-size: 1.5em;
  text-align: center;
}

#sign-in {
  margin: 10px;
  padding: 40px;
}
